<div class="w-form formwrapper">
  <form class="w-clearfix form" name="email-form" data-name="Email Form">
		<%= render 'form' %>
	</form>
</div>
<style type="text/css">
	.textfield, .submitbutton {
		position: relative; 
		right: 70px;
	}
	.fieldlabel, .formtitel {
		position: relative; 
		left: 40px;
	}
</style>