<header class="headerclass">
  <img class="logo" src="images/troboxallsmall.png" width="207" height="51.5" alt="troboxallsmall.png">
</header>
<div class="mainclass">
  <div class="w-container bodyclass">
    <div class="w-form formwrapper">
      <form class="w-clearfix form" name="email-form" data-name="Email Form">
        <label class="formtitel">Schönhauser Allee 109</label>
        <label class="fieldlabel wohnungsbeschreibung" for="email">2 Zimmer Wohnung, 5.OG links</label>
        <label class="formtitelklein">Bewerberprofil</label>
        <label class="customeridemail">max@mustermann.de</label><a class="downloadlinks" href="#">weitere Bewerber hinzufügen</a>
        <label class="fieldlabel" for="email">Persönliche Daten</label><a class="uploadbutton" href="#">Bearbeiten</a>
        <label class="fieldlabel" for="email">Dokumente</label><a class="uploadbutton" href="#">Bearbeiten</a>
        <div class="w-embed hr">
          <hr>
        </div>
        <div class="w-embed checkbox1">
          <input type="checkbox" name="confirm" value="truth">Ich bestätige hiermit, dass alle Angaben der Wahrheit entsprechen.
          <br>
        </div>
        <div class="w-embed checkbox2">
          <input type="checkbox" name="agbs" value="agree">Ich habe die AGBs gelesen und erkläre mich damit einverstanden.
          <br>
        </div>
        <input class="w-button submitbutton" type="submit" value="Bewerbung abschicken" data-wait="Bitte warten..."></input>
      </form>
      <div class="w-form-done"></div>
      <div class="w-form-fail"></div>
    </div>
  </div>
</div>
<footer class="footerclass"></footer>