<div class="w-form formwrapper">
  <form class="w-clearfix form" name="email-form" data-name="Email Form">
    <div style="w-clearfix;clear:both;height:100px">
      <img src="" style="float:left;height:120px;width:160px;border 1px solid black;">
      <div style="float:right;width:400px;margin-top:-5px;padding-top:0;" class="formtitel">
        Zieh endlich aus bei Mama!
        <div style="font-size: 20px;">
          Schönhauser Allee 109
        </div>
        <div style="font-size: 20px;">
          900$, 2 Zimmer, 44 qm
        </div>
      </div>
      &nbsp;
    </div>
    <div class="w-embed hr" style="position:relative; top:20px;">
      <hr>
    </div>
    <label class="formtitelklein">Bewerberprofil</label>
    <label class="customeridemail">max@mustermann.de</label><a class="downloadlinks" href="#">weitere Bewerber hinzufügen</a>
    <label class="fieldlabel" for="email">Persönliche Daten</label><a class="uploadbutton" href="#">Bearbeiten</a>
    <label class="fieldlabel" for="email">Dokumente</label><a class="uploadbutton" href="#">Bearbeiten</a>
    <div class="w-embed hr">
      <hr>
    </div>
    <div class="w-embed checkbox1">
      <input type="checkbox" name="confirm" value="truth"> &nbsp; Ich bestätige hiermit, dass alle Angaben der Wahrheit entsprechen.
      <br>
    </div>
    <div class="w-embed checkbox2">
      <input type="checkbox" name="agbs" value="agree"> &nbsp; Ich habe die AGBs gelesen und erkläre mich damit einverstanden.
      <br>
    </div>
    <input class="w-button submitbutton" type="submit" value="Bewerbung abschicken" data-wait="Bitte warten..."></input>
  </form>
  <div class="w-form-done"></div>
  <div class="w-form-fail"></div>
</div>
