<header class="headerclass">
  <img class="logo" src="images/troboxallsmall.png" width="207" height="51.5" alt="troboxallsmall.png">
</header>
<div class="mainclass">
  <div class="w-container bodyclass">
    <div class="w-form formwrapper">
      <form class="w-clearfix form" name="email-form" data-name="Email Form">
        <label class="formtitel">Dokumente</label>
        <label class="fieldlabel" for="email">Schufa Auskunft</label>
        <input class="w-button uploadbutton" type="submit" value="Hochladen" data-wait="Bitte warten..."></input>
        <label class="fieldlabel" for="email">Kopie Personalausweis</label>
        <input class="w-button uploadbutton" type="submit" value="Hochladen" data-wait="Bitte warten..."></input>
        <label class="fieldlabel" for="email">Einkommensnachweis</label>
        <input class="w-button uploadbutton" type="submit" value="Hochladen" data-wait="Bitte warten..."></input>
        <label class="fieldlabel" for="email">Mietzahlungsbestätigung</label><a class="downloadlinks" href="#">Vorlage downloaden</a>
        <input class="w-button uploadbutton" type="submit" value="Hochladen" data-wait="Bitte warten..."></input>
        <div class="w-embed hr">
          <hr>
        </div>
        <label class="formtitelklein">optional</label>
        <label class="fieldlabel" for="email">WBS-Schein</label>
        <input class="w-button uploadbutton" type="submit" value="Hochladen" data-wait="Bitte warten..."></input>
        <label class="fieldlabel" for="email">Bürgschaftserklärung</label><a class="downloadlinks" href="#">Vorlage downloaden</a>
        <input class="w-button uploadbutton" type="submit" value="Hochladen" data-wait="Bitte warten..."></input>
        <label class="fieldlabel" for="email">Kopie Personalausweis (Bürge)</label>
        <input class="w-button uploadbutton" type="submit" value="Hochladen" data-wait="Bitte warten..."></input>
        <input class="w-button submitbutton" type="submit" value="  Speichern " data-wait="Bitte warten..."></input>
      </form>
      <div class="w-form-done">
        <p>Thank you! Your submission has been received!</p>
      </div>
      <div class="w-form-fail">
        <p>Oops! Something went wrong while submitting the form :(</p>
      </div>
    </div>
  </div>
</div>
<footer class="footerclass"></footer>
