<header class="headerclass">
  <img class="logo" src="images/troboxallsmall.png" width="207" height="51.5" alt="troboxallsmall.png">
</header>
<div class="mainclass">
  <div class="w-container bodyclass">
    <div class="w-container">
      <div class="backgroundimage">
        <h1>Wohnungsbewerbung - <br>                                   schnell &amp; einfach</h1>
        <h2>Einfaches Management in der Cloud</h2>
        <h2>Alle Dokumente und Wohnungen an einem Ort</h2>
        <h2>Schneller bewerben und Traumwohnung sichern</h2>
      </div>
    </div>
  </div>
</div>
<footer class="footerclass"></footer>
