<!DOCTYPE html>
<!-- This site was created in Webflow. http://www.webflow.com--><!-- Last Published: Sat Sep 07 2013 12:20:05 GMT+0000 (UTC) -->
<html data-wf-site="522a3b961f316d296f000194">
  <head>
    <meta charset="utf-8">
    <title>TroBox</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/normalize.css">
    <link rel="stylesheet" type="text/css" href="css/webflow.css">
    <link rel="stylesheet" type="text/css" href="css/static_pages.css">
    <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.4.7/webfont.js"></script>
    <script>
      WebFont.load({
        google: {
          families: ["Varela:400","Open Sans:300,400,600,700,800","Lato:100,300,400,700,900"]
        }
      });
    </script>
    <link rel="icon" type="image/x-icon" href="https://y7v4p6k4.ssl.hwcdn.net/placeholder/favicon.ico">
    <script type="text/javascript" src="js/webflow.js" defer></script>
  </head><body>
  <header class="headerclass">
    <img class="logo" src="images/troboxallsmall.png" width="207" height="51.5" alt="troboxallsmall.png">
  </header>
  <div class="mainclass">
    <div class="w-container bodyclass">
      <div class="w-form formwrapper">
        <form class="w-clearfix form" name="email-form" data-name="Email Form">
          <label class="formtitel">Persönliche Daten</label>
          <label class="fieldlabel" for="email">Name:</label>
          <input class="w-input textfield" type="text" placeholder="Mustermann" name="name" data-name="Name" required="required"></input>
          <label class="fieldlabel" for="email">Vorname:</label>
          <input class="w-input textfield" type="text" placeholder="Max" name="vorname" data-name="Vorname" required="required"></input>
          <label class="fieldlabel" for="email">Email:</label>
          <input class="w-input textfield" type="text" placeholder="max@mustermann.de" name="email" data-name="Email" required="required"></input>
          <label class="fieldlabel" for="email">Tel. Nr:</label>
          <input class="w-input textfield" type="text" placeholder="01234-567890" name="telnr" data-name="TelNr" required="required"></input>
          <label class="fieldlabel" for="email">Handy Nr:</label>
          <input class="w-input textfield" type="text" placeholder="0123-4567890" name="mobil" data-name="Mobil" required="required"></input>
          <label class="fieldlabel" for="email">Straße, Nr:</label>
          <input class="w-input textfield" type="text" placeholder="Beispielstr.1" name="strasse" data-name="Strasse" required="required"></input>
          <label class="fieldlabel" for="email">PLZ:</label>
          <input class="w-input textfield" type="text" placeholder="12345" name="plz" data-name="PLZ" required="required"></input>
          <label class="fieldlabel" for="email">Stadt:</label>
          <input class="w-input textfield" type="text" placeholder="Berlin" name="stadt" data-name="Stadt" required="required"></input>
          <label class="fieldlabel" for="email">Geb. Datum:</label>
          <input class="w-input textfield" type="text" placeholder="01.01.1990" name="date" data-name="Date" required="required"></input>
          <label class="fieldlabel" for="email">geb. Ort:</label>
          <input class="w-input textfield" type="text" placeholder="Musterstadt" name="birthplace" data-name="BirthPlace" required="required"></input>
          <label class="fieldlabel" for="email">Nationalität:</label>
          <input class="w-input textfield" type="text" placeholder="Deutsch" name="nationality" data-name="Nationality" required="required"></input><a class="fotoupload" href="#">Foto hochladen (optional)</a>
          <input class="w-button submitbutton" type="submit" value="  Speichern " data-wait="Bitte warten..."></input>
        </form>
        <div class="w-form-done">
          <p>Thank you! Your submission has been received!</p>
        </div>
        <div class="w-form-fail">
          <p>Oops! Something went wrong while submitting the form :(</p>
        </div>
      </div>
    </div>
  </div>
  <footer class="footerclass"></footer>
</body>
</html>